body{
background-image: url(fundo-quadrado-de-padrao-gradiente-vermelho-e-preto_7954-23753\ 1.png);
background-size: cover;
}

p{
    color: black;
}

header{
    align-items: center;
}

p{
    font-size: 24px;
}