body {
    background-image: image-set("fundo-quadrado-de-padrao-gradiente-vermelho-e-preto_7954-23753 1.png");
    background-size: cover;
}
.header {
    align-content: center;
   
}
section {
    
}