body {
background-image: url(fundo-quadrado-de-padrao-gradiente-vermelho-e-preto_7954-23753\ 1.png);
background-size: cover;
}

p {
    color: white;
}

header {
    align-items: center;
}

.poster {
    display: flex;
    font-size: 36px;
}

section {
    align-items: center;
    color: white;
}
footer {
    align-items: end;
    color: white;
    font-size: 18px;
}